{
    "env": {
    "node": true,
    "es6": true
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "no-console":"off",
        "linebreak-style":"off",
        "class-methods-use-this": 0
    }
}