/*Font import starts*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Font import ends*/

/*-----------Style for the Universal elements starts here----------*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: none
}

.container{
    padding: 50px
}

.text-center{
    text-align: center
}

.text-left{
    text-align: left
}


button{
    padding: 10px 25px;
    border: 0;
    font-size: 15px
}

.btn{
    padding: 10px 25px;
    border: 0;
    font-size: 15px
}

.img-container{
    height:250px;
    width: 100%
}

.img-container img{
    height: 100%;
    object-fit: cover
}

.datepicker{
    padding: 10px
}

hr{
    border: 1px solid #ccc
}

footer >div{
    padding: 20px
}

/* MEdia queries for universal elements starts here*/
@media screen and (max-width: 428px) {

    .container{
        padding: 50px 20px 50px 20px
    }

    .img-container{
        height:250px;
        width: 100%
    }

}

@media screen and (max-width: 320px) {

    .container{
        padding: 50px 50px 50px 20px
    }

    .img-container{
        height:200px;
        width: 100%
    }

}

/* Media queries for universal elements ends here*/

/*-----------Style for the Universal elements ends here----------*/

/*-----------Colours Start here----------*/
.primary-colour{
    background-color: #5d53e7
}

.secondary-colour{
    background-color: rgb(209, 32, 32);
}

.red-text{
    color: rgb(209, 32, 32);
}

.green-bg{
    background-color: #0dd160
}

.green-text{
    color: #0dd160
}

.white-text{
    color: #fff !important
}
/*-----------Colours end here----------*/

/*-----------Style for the navigation starts here----------*/
.navbar {
    overflow: hidden;
    background-color: #5d53e7;
  }

.nav-brand{
    font-weight: bold;
    background-color: #4e46c0;
}
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #524acf;
    color: white;
  }
  
  .navbar .icon {
    display: none;
    font-size: 15px;
  }
  
  .dropdown {
      float: left;
      overflow: hidden;
  }
  
  .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #524acf;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #524acf;
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }

  .profile{
    float: right !important;
    margin-right: 20px
}
  
  /*Media Queries for the Navbar starts here*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
Show the link that contains should open and close the navbar (.icon) */
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
   /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. 
  This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }

    .navbar.responsive .profile{
        float: none !important;
        width: 100%;
    }
  }
/*Media Queries for the Navbar ends here*/

/*-----------Style for the navigation ends here----------*/


/*-----------Style for the Main content starts here-------*/

/*Style for Top-Hero starts here*/
.top-hero{
    min-height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/index-bg.jpg");
}

.top-hero-text{
    padding: 40px 10px 0 40px;
    color: #fff;
    width: 50%;
}

.top-hero h1{
    font-size: 3.5rem;
    line-height: 50px;
}

.top-hero p{
    line-height: 20px;
}

.top-hero-btn{
    padding-left: 40px
}

.top-hero-btn .btn-order{
    background-color: #5d53e7
}

/*Media Queries to target smaller devices for top hero starts here*/
@media screen and (max-width: 860px) {
    .top-hero{
        background-image: linear-gradient(rgba(26, 26, 26, 0.548), rgba(26, 26, 26, 0.548)), url("../images/index-bg.jpg");
    }
    
    .top-hero-text{
        padding: 40px 10px 0 40px;
        color: #fff;
        width: 70%;
    }
}

/*Media Queries for top hero ends here*/
/*Style for Top-Hero ends here*/


/*Fast food items style starts here*/
.meals{
    padding: 20px 40px 40px 40px
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

.flex-container >.item{
    flex-grow: 1;
    padding-bottom: 20px
}

.item >.item-container{
    width: 100%;
}

.item-container >.item-details{
    text-align: left;
    line-height: 10px
}

/*Fast food items style starts here*/

/*style for Order starts here*/

.order-container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 80px 0
}

.order-container .img-container{
    float: left;
    width: 40%
}

.order-container .item-details{
    float: right;
    width: 60%
}

.order-details #quantity{
    padding: 10px
}



/*Media Queries to target smaller devices for Orders starts here */

@media screen and (max-width: 850px) {
    .order-container .img-container{
        float: none;
        height:300px
    }
    
    .order-container .order-details{
        float: none
        
    }
}

@media screen and (max-width: 460px) {
    .order-container .img-container{
        float: none;
        height:250px
    }
}
/*Media Queries to target smaller devices for Orders ends here */
/*style for Order ends here*/

/*Style for the Main content ends here*/
